services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy  # Waits until DB is actually ready

  db:
    image: postgres:14
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Check if Postgres is ready every 5 seconds
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d ml_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: